/*========================================================
    File:        mypage.css
    Description: CSS Styles for plan page
========================================================*/

/* + Mypage CSS - Begin */
#mypage .col-w
{
    width: 70.8%;
}
#mypage .col-n
{
    width: 28.5%;
}

#functionbox
{
    min-height: 102px;
    _height: 102px;
    padding: 15px 0 25px 25px;
    background: url(../../_imgs/high/bg_fn.png) left bottom repeat-x;
    overflow: hidden;
    position: relative;
}
#form-function
{
    position: absolute;
    top: 15px;
    left: 100%;
}
#fnb-input
{
    border: 1px solid #cbcbcb;
    border-bottom-color: #dbdbdb;
    font-size: 170%;
    padding: 0 5px;
    width: 120px;
    color: #f37916;
    text-align: center;
}

    /* - Plan Hour Box */
    .ph-one,
    .ph-ten,
    .ph-hdrd
    {
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 2px solid #f4f3f3;
    }
    a.ph-one,
    a.ph-ten,
    a.ph-hdrd
    {
        cursor: pointer;
    }
    a.ph-one:hover,
    a.ph-one.active
    {
        border-bottom: 2px solid #fdc51a;
    }
    a.ph-ten:hover,
    a.ph-ten.active
    {
        border-bottom: 2px solid #f3a216;
    }
    a.ph-hdrd:hover,
    a.ph-hdrd.active
    {
        border-bottom: 2px solid #f37916;
    }
    .ph-txt
    {
        color: #fff;
        font-size: 330%;
        display: inline-block;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        line-height: 1.2em;
        
        padding: 10px 8px 9px;
    }
    .ph-one .ph-txt
    {
        background-color: #fdc51a;
    }
    .ph-ten .ph-txt
    {
        background-color: #f3a216;
    }
    .ph-hdrd .ph-txt
    {
        background-color: #f37916;
    }
    .ph-val,
    .ph-unit
    {
        display: block;
        text-align: center;
        width: 100px;
        line-height: 1.4em;
    }
    .ph-unit
    {
        text-align: right;
        font-size: 43%;
    }
    

/* + Right Side */
#profilebox
{
    width: 92%;
    margin: 0 0 0 5px;
    padding: 0 5px 15px;
    border-bottom: 1px dotted #16c4f3;
}
.pb-headshot
{
}
.pb-hs-img
{
    border: 1px solid #cacaca;
    display: block;
    line-height: 0;
}
.pb-hs-edit
{
    bottom: 0;
    right: 0;
    background: #a6a7a7;
    display: block;
    padding: 2px 3px 1px;
}
.pb-name
{
    padding-right: 16px; 
    background: url(../../_imgs/high/icon_male.png) right center no-repeat;
}
#addupbox
{
    background-color: #f4f3f3;
    padding: 10px 0 10px 20px;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
}
#activitystatusbox ul li
{
    clear: both;
    margin: 10px 0 0 0;
}
#activitystatusbox ul li .asb-icon
{
    width: 50px;
    color: #fff;
    text-align: center;
    font-size: 150%;
    line-height: 1.3em;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#activitystatusbox ul li.asb-one .asb-icon
{
    background-color: #fdc51a;
}
#activitystatusbox ul li.asb-ten .asb-icon
{
    background-color: #f3a216;
}
#activitystatusbox ul li.asb-hdrd .asb-icon
{
    background-color: #f37916;
}

#activitystatusbox ul li .asb-bar
{
    width: 180px;
    height: 5px;
    background-color: #fff;
    border: 1px solid #9c9c9c;
    margin: 7px 0 0 13px;
}
#activitystatusbox ul li .asb-giveup
{
    position: relative;
}
#activitystatusbox ul li .asb-gu-prompt
{
    position: absolute;
}

/* + Mypage CSS - End */