<div id="mypage" class="mt-8 cf">
  <div class="col-l col-w">
    <div id="functionbox" class="cf">
      <form action="" id="form-function">
        <fieldset class="formbox">
          <legend class="hidden">烧</legend>
          <div class="ph-one col-l">
            <span class="ph-txt">
              <span class="ph-val">1</span>
              <span class="ph-unit">小时</span>
            </span>
          </div>
          <div class="col-l ml-50 mt-30">
            <span class="txt-5xl bla">这次我完成了：</span>
            <input type="text" id="fnb-input" />
            <span class="txt-5xl mgry">分钟</span>
            <a id="fnb-submit" href="#this" class="btn-yes btn-disable">
              提交
            </a>
            <span class="hidden">
              <input type="submit" id="fnb-input-submit" class="btn-yes outerglow" value="提交" />
            </span>
            <p id="fnb-err" class="red"></p>
          </div>
        </fieldset>
      </form>
    </div>
    <div style="background: url(./_imgs/02.png) left top no-repeat; width: 680px; height: 383px;">
    </div>
  </div>
  <div class="col-l col-n ml-5">
    <div style="background: url(./_imgs/01.png) left top no-repeat; width: 281px; height: 333px;">
    </div>
  </div>
</div>
