<script language="JavaScript" type="text/javascript"> 
    // <![CDATA[
	
	function submitForm(){
		document.forms[0].submit();
	}
	
	// ]]>
</script> 
<div class="pg-title">
        <span class="col-r txt-6xl pg-title-welcome">欢迎来到啄米...</span>
        <h2 class="txt-4xl azure">
            激活个人账号
        </h2>
    </div>
    <div id="main" class="mt-20 cf">
        <div class="col-l col-w">
            <%= form_for @user, :url => users_path do |f| %>
                <fieldset class="formbox">
                    <legend class="bold bla txt-xxl fb-title">登录</legend>
                    <div>
                        <p class="azure mt-15 fb-firstel">
                            <label for="fb-mail">电子邮件：</label>
                        </p>
                        <p class="mt-5 pos-rel">
							<%= f.text_field :email, :class => "fb-input outerglow" %>
                            <span class="pos-abs fb-tip whi hidden">
                                <sup class="pos-abs icon-formerr"></sup>
                                <span class="fb-tip-msg"></span>
                            </span>
                        </p>
                        <p class="gry mt-5">用来登录啄米，请牢记此Email</p>
                    </div>
                    <div>
                        <p class="azure mt-15">
                            <label for="fb-nickname">起个拉风的用户名：</label>
                        </p>
                        <p class="mt-5 pos-rel">
							<%= f.text_field :nickname, :class => "fb-input outerglow" %>
                            <span class="pos-abs fb-tip whi hidden">
                                <sup class="pos-abs icon-formerr"></sup>
                                <span class="fb-tip-msg"></span>
                            </span>
                        </p>
                        <p class="gry mt-5">使用你在网上常用昵称，小于12个字符</p>
                    </div>
                    <div>
                        <p class="azure mt-15">
                            <label for="fb-password">设置密码：</label>
                        </p>
                        <p class="mt-5 pos-rel">
							<%= f.text_field :password, :class => "fb-input outerglow" %>
                            <span class="pos-abs fb-tip whi hidden">
                                <sup class="pos-abs icon-formerr"></sup>
                                <span class="fb-tip-msg"></span>
                            </span>
                        </p>
                        <p class="gry mt-5"">6-16个字符</p>
                    </div>
                    <p class="mt-15">
                        <input type="checkbox" id="fb-chk-protocal" class="fb-chkbox" />
                        <label for="fb-chk-protocal">我已于都并接受《<a href="#this" class="azure">使用协议</a>》</label>
                    </p>
                    <p class="mt-18">
                        <a id="fb-createuser" href="plan.htm" class="btn-yes btn-disable">
                            创建用户
                        </a>
                        <span class="hidden">
                            <input type="submit" id="fb-createuser-submit" class="btn-yes outerglow" value="创建用户" />
                        </span>
                    </p>
                </fieldset>
            <% end%>
        </div>
        <div class="col-l col-n">
        
        </div>
    </div>
